/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./common.css');
@import url('./animations.css');

/* Layout styles */
@import url('./header.css');
@import url('./hero.css');
@import url('./products.css');
@import url('./advantages.css');
@import url('./feedbacks.css');
@import url('./footer.css');

/* Components styles */
@import url('./order-modal.css');
@import url('./ingredients-modal.css');
@import url('./promo-modal.css');
@import url('./location-modal.css');
@import url('./franchise-modal.css');
